body {
  background-image: url(../img/background.gif);
  color: white;
}
h1, h2 {
  text-align: center;
  font-family: 'Quintessential', cursive;
}

h1 {
  font-size: 80px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 25px;
}
a {
  color: inherit;
  text-decoration: none;
}
.profiles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1000px;

}
.column {
  float: left;
  height: 800px;
  margin: 1%;
  width: 31.33333333%;
  margin-top: 70px;
  /*border: 2px solid white;*/
  background-color: rgba(255, 255, 255, .1);
}
img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid white;
}
.column p{
  margin: 15px;
  font-size: 20px;
  font-style: italic;
  line-height: 1.3em;
  font-family: sans-serif;
}
.column h3, h4 {
  text-align: center;
}

@media screen and (max-width: 1000px){
  .column {
    float: none;
    width: 100%;
    height: auto;
  }
  .column p{
    margin: 30px;
  }
  .profiles {
    width: auto;
}
